# ------------------------------------
# Archivos de PHP/Servidor
# ------------------------------------
# Archivos de logs de errores, depuración o bases de datos temporales
*.log
*.sql
*.sqlite
/tmp
/logs

# Archivos de sesiones de PHP (si se generan)
/sessions/

# ------------------------------------
# Entornos de desarrollo/IDE
# ------------------------------------
# Archivos de Visual Studio Code
.vscode/

# Archivos temporales de macOS
.DS_Store

# Archivos temporales de Windows
Thumbs.db

# Archivos de swap de editores (Vim, Nano)
*~
# Archivos de caché
*.cache

# ------------------------------------
# Carpetas de terceros (Si usas Composer en el futuro)
# ------------------------------------
/vendor/